@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400&display=swap');
@import-normalize; /* bring in normalize.css styles */

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
code {
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4,h5,h6, p, ul{
  margin: 0;
  padding: 0;
}

html{
  scrollbar-width: thin;
  scrollbar-color: #1E73BE #e0e0e0;
}